@import '../../theme/variables';

$button-border-radius: 6px;
$button-height: 40px;

.Button {
  clear: both;
  padding: 0;
  border-radius: $button-border-radius;
  cursor: pointer;
  height: $button-height;
  line-height: $button-height;
  border: 0;
  background: none;
  box-shadow: none;

  &:focus {
    outline: 0;
  }

  .icon {
    height: $button-height;
    display: block;
    float: left;
    border: 0;
    background-color: $color-shamrock;
    border-top-left-radius: $button-border-radius;
    border-bottom-left-radius: $button-border-radius;

    img {
      height: 24px;
      margin: 0 auto;
      margin: 8px 8px 0;
    }
  }

  .label {
    height: $button-height;
    display: block;
    float: left;
    padding: 0 5px;
    color: $color-white;
    font-weight: 300;
    font-size: 13px;
    background-color: $color-turquoise;
    border-top-right-radius: $button-border-radius;
    border-bottom-right-radius: $button-border-radius;

    &:hover {
      background-color: $color-shamrock;
    }
  }
}
