@import '../../theme/variables';

body {
  background-color: $color-white;
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
}

.App {
  color: $color-dark-gray;

  .header,
  .footer {
    background-color: $color-white-smoke;
    overflow: auto;
    padding: 15px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      width: $container-tablet;
    }

    @media (min-width: $screen-md) {
      width: $container-desktop;
    }

    @media (min-width: $screen-lg) {
      width: $container-large-desktop;
    }

    button {
      float: right;
    }
  }

  hr {
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
  }
}
